body {
    overflow-x: hidden;
}

.cajaf{
    position: fixed;
    bottom: 100px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 100000;
}

.btn_position {
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    color: black;
    background-color: #fff;
    padding: 12px 0;
    box-shadow: 0 0 10px rgb(0 0 0 / 35%);
    z-index: 90090;
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 150px;
    line-height: 1em;
    font-weight: 600;
    border: solid 3px #46bebd;
    transition: all 0.3s ease-in;
}
.btn_position:hover {
    background: #46bebd;
    border: solid 3px #46bebd;
    transition: all 0.15s ease-out;
}

.btn_position:hover {
    background-color: #D78241;
    border-color: #D78241;
}

.text-nav { font-family: 'Montserrat', sans-serif; font-size: 0.9em; font-weight: 600; color: #D78241 !important; transition: all 0.3s ease-in; }
.text-nav:hover { color: #333 !important; transition: all 0.15s ease-out; }

.btn-nav-style-demo { font-family: 'Montserrat', sans-serif; color: white !important; background: #D78241; border-radius: 25px; line-height: 1em; font-weight: 600; font-size: 0.85em; padding: 10px 18px !important; letter-spacing: 0.035em; color: #fff !important; transition: all 0.3s ease-in; }
.btn-nav-style-demo:hover { background: #46bebd; color: #fff !important; transition: all 0.15s ease-out; }

.button-ingresa { background: #46bebd; line-height: 1em !important; font-weight: 600; font-size: 0.85em; padding: 10px 18px !important; letter-spacing: 0.035em; color: #fff !important; transition: all 0.3s ease-in; }
.button-ingresa:hover { background: #D78241; color: #fff !important; transition: all 0.15s ease-out; }

.btn-nav-style {
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    background-color: #46bebd;
    border-radius: 25px;
    line-height: 1.2;
}

.btn-form-enviar {
    font-family: 'Montserrat', sans-serif;
    background-color: #46bebd;
}

.btn-mobile {
    background-color: #46bebd;
    max-width: 9%;
    height: auto;
}

.icon-btn-nav {
    max-width: 100%;
}

.btn-nav-style:hover {
    background-color: #D78241;
}

#carousel {
    position: relative;
}

#carousel .overlap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index: 1;
}

#carousel .overlap .container,
#carousel .overlap .row {
    height: 100%;
}

#carousel .overlap .container { max-width: 950px; }

/* .btn-overlap {
    border-radius: 25px;
}

.btn-overlap:hover {
    background-color: #CD6428;
    border-color: #D78241;
    color: white !important;
} */

.text-carousel {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1em;
    font-weight: 600;
}

.btn-carousel { font-family: 'Montserrat', sans-serif; color: white !important; background: #D78241; border-radius: 25px; font-size: 0.75em; line-height: 1em; padding: 14px 25px 12px; text-transform: uppercase; letter-spacing: 0.15em; font-weight: 600; transition: all 0.3s ease-in; }
.btn-carousel:hover { background: #46bebd; padding: 14px 27px 12px; transition: all 0.15s ease-out; }

#division {
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

#division .col-12:nth-child(1) img { max-width: 80%; margin: 35px auto 0 auto !important; float: none; display: block; }

#division .col-12:nth-child(2) img { max-width: 80%; margin: 35px 0 0 0 !important; float: left; display: block; clear: both; }

.text-division {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
    line-height: 1.75em;
    padding: 55px 115px 0 115px;
    font-weight: 600;
    letter-spacing: 0.035em;
}
ul.text-division {
    padding: 35px 115px 235px 35px;
    display: block;
    float: none;
    clear: both;
    list-style: none;
}

.division2 {
    background-color: #D78241;
    color: white !important;
    position: relative;
}

#division .col-12:nth-child(2) #img-usuarios {
    width: 270px;
    height: auto;
    display: block !important;
    margin: 0 !important;
    position: absolute;
    bottom: 0;
    right: 0;
}

#fondo-azul {
    background-color: #46bebd;
    position: relative;
}

.color-text-p { color: white; font-family: 'Montserrat', sans-serif; font-size: 1.15em; width: 80%; margin: 0 auto 15px; letter-spacing: 0.035em; padding: 35px 0 0 0; }

.img-grupo {
    padding-left: 140px;
    max-width: 85%;
}

.kuboinz {
    width: 144px;
    height: auto;
    display: block;
    margin: 35px 0 45px 109px;
    float: left;
    position: relative;
}

/* .posicion {
    position: relative;
} */

#parrafo {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.35em;
    width: 463px;
    margin: 80px 100px 0 35px;
    letter-spacing: 0.035em;
    padding: 0;
    display: inline-block;
    font-weight: 500;
}

#informacion {
    background: -moz-linear-gradient(top, rgba(214,214,214,1) 0%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(top, rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%);
    background: linear-gradient(to bottom, rgba(214,214,214,1) 0%,rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#00ffffff',GradientType=0 );
    position: relative;
}

.title-form {
    color: #d06a1d;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 15px 0 0 0;
    margin: 0 0 5px 0;
    font-size: 1.95em;
}
#txt-info {
    color: #111;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    line-height: 1.45em;
    text-align: left;
    font-weight: 600;
    margin: 0 0 15px 0;
}

#acepto-ok {  
    color: #d06a1d;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 1em;
    line-height: 1em;
    text-decoration: none;
    padding: 0 0 0 5px;
    background: transparent !important;
    transition: all 0.3s ease-in;
}
#acepto-ok:hover {  
    color: #333;
    transition: all 0.15s ease-out;
}

.zcwf_lblLeft .zcwf_col_fld { padding: 0 30px 0 0 !important; }

.frame {
    max-width: 100%;
    height: 575px;
    margin: 55px 0 0 0;
    border-radius: 15px;
}

.text-p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.25em;
    color: #333;
    padding: 55px 0 0 0;
    margin: 0;
    text-shadow: 0 0 3px rgba(0,0,0,0.15);
}


#banner-thanks {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    float: none;
    position: fixed !important;
    top: 0;
    left: 0;
    z-index: 1;
    background: url('assets/img/kubera-thanks.png') no-repeat top center fixed;
    background-size: cover;
}
h3#titulo-thanks {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    line-height: 1em;
    text-align: center;
    color: #fff;
    padding: 155px 0 5px 0;
    font-weight: 700;
    letter-spacing: 0.035em;
    text-shadow: 0 0 5px rgba(0,0,0,0.35);
}
p#txt-thanks {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.15em;
    line-height: 1.35em;
    text-align: center;
    color: #fff;
    padding: 0;
    font-weight: 300;
    letter-spacing: 0.035em;
    text-shadow: 0 0 5px rgba(0,0,0,0.55);
}



.img-entidades {
    max-width: 85%;
}

.img-sena{
    max-width: 20%;
    height: auto;
}

.img-minciencias {
    max-width: 40%;
    height: auto;
}

.img-atlantico {
    max-width: 70%;
    height: auto;
}

.img-acopi {
    max-width: 80%;
    height: auto;
}

.img-sgr {
    max-width: 65%;
    height: auto;
}

.img-cuc {
    max-width: 80%;
    height: auto;
}

.img-premios {
    max-width: 85%;
}

.img-sennova {
    max-width: 60%;
    height: auto;
}

.img-creame {
    max-width: 80%;
    height: auto;
}

.img-iconos {
    max-width: 55%;
    height: auto;
}

#img-footer {
    height: 299px;
    background-image: url(./assets/img/kubera-footer.png);
    max-width: 100%;
}

.color-icon {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 5px;
    float: left;
    position: relative;
    font-size: 0.75em;
    color: white;
    text-align: center;
    padding: 9px 0;
    transition: all 0.3s ease-in;
}
.color-icon:hover {
    color: #46bebd;
    transition: all 0.15s ease-out;
}


/* FOOTER */
#footer { width: 100%; height: auto; display: block; margin: 0 auto; float: none; position: relative; background: url('assets/img/kubera-footer.png') no-repeat bottom center; background-size: cover; }
#footer article { width: 1100px; height: 300px; display: block; margin: 0 auto; float: none; position: relative; }

#footer article a#logo-foo { width: auto; height: 71px; display: block; margin: 100px 245px 0 0; float: left; position: relative; transition: all 0.3s ease-in; }
#footer article a#logo-foo:hover { opacity: 0.75; transition: all 0.15s ease-out; }

#footer article nav { width: 202px; height: 40px; display: block; margin: 133px 0 0 0; float: left; position: relative; }

#footer article a#logo-opensky { width: auto; height: 71px; display: block; margin: 100px 0 0 0; float: right; position: relative; transition: all 0.3s ease-in; }
#footer article a#logo-opensky:hover { opacity: 0.75; transition: all 0.15s ease-out; }



ul.navbar-nav li.nav-item { margin: 0 5px; }
ul.navbar-nav li.nav-item:nth-child(4) { margin: 0 0 0 10px; }
ul.navbar-nav li.nav-item:nth-child(5) { margin: 0 0 0 10px; }

header#header-home { width: 100%; height: 90px; display: block; margin: 0 auto; float: none; position: fixed; top: 0; left: 0; z-index: 99999; }
header#header-home nav.navbar { padding: 9.5px 0; }
header#header-home nav.navbar a.navbar-brand { padding: 0; margin: 0; }

main#ventajas { margin: 90px auto 0; }

.zona-logos img { display: block; margin: 0 auto; float: none; }

figure#logos-entidades { width: 100%; height: 300px; display: block; margin: 0 auto; float: none; position: relative; }
figure#logos-entidades img { width: auto; height: 100px; display: block; margin: 22px; float: left; position: relative; max-width: none; padding: 0 !important; }
figure#logos-entidades img:nth-child(1) { margin: 22px 22px 22px 235px; }

figure#logos-premios { width: 100%; height: 475px; display: block; margin: 0 auto; float: none; position: relative; }
figure#logos-premios img { width: auto; height: 150px; display: block; margin: 22px; float: left; position: relative; max-width: none; padding: 0 !important; }
figure#logos-premios img:nth-child(1) { margin: 22px 22px 22px 135px; }
figure#logos-premios img:nth-child(3) { margin: 22px 22px 22px 435px; }



button.navbar-toggler { display: none !important; }



#ancla-slider { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -90px; left: 0; z-index: 10; }

#ancla-division { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -90px; left: 0; z-index: 11; }

#ancla-fondo-azul { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -90px; left: 0; z-index: 12; }

#ancla-informacion { width: 100%; height: 1px; display: block; margin: 0; float: none; position: absolute; top: -90px; left: 0; z-index: 13; }



aside#mobile-menu { width: 300px; height: 100%; display: none; position: fixed; top: 0; right: -300px; z-index: 999999; background: rgba(0,0,0,0.9); }

aside#mobile-menu #a-mobile { width: 39px; height: 39px; display: block; position: absolute; top: 29px; left: -39px; padding: 0; border-radius: 5px 0 0 5px; text-decoration: none; transition: all 0.3s ease-in; }
aside#mobile-menu #a-mobile i { color: #46bebd; text-align: center; padding: 9.5px 0; font-size: 1.45em; display: block; transition: all 0.3s ease-in; }

aside#mobile-menu #a-mobile-close { width: 39px; height: 39px; display: block; position: absolute; top: 29px; left: -39px; padding: 0; border-radius: 5px 0 0 5px; text-decoration: none; transition: all 0.3s ease-in; }
aside#mobile-menu #a-mobile-close i { color: #333; text-align: center; padding: 9.5px 0; font-size: 1.45em; display: block; transition: all 0.3s ease-in; }

aside#mobile-menu #a-mobile { z-index: 2; }
aside#mobile-menu #a-mobile-close { z-index: 1; }
aside#mobile-menu #a-mobile:hover { text-decoration: none; transition: all 0.15s ease-out; }
aside#mobile-menu #a-mobile:hover i { color: #333; transition: all 0.15s ease-out; }
aside#mobile-menu #a-mobile-close:hover { text-decoration: none; transition: all 0.15s ease-out; }
aside#mobile-menu #a-mobile-close:hover i { color: #46bebd; transition: all 0.15s ease-out; }

aside#mobile-menu nav#links-mobile { width: 80%; height: auto; display: block; margin: 35px auto 0; float: none; position: relative; }
aside#mobile-menu nav#links-mobile a { width: 100%; height: auto; display: block; margin: 0 auto 15px; float: none; position: relative; color: #fff !important; text-align: center; line-height: 1em; font-weight: 500; letter-spacing: 0.035em; padding: 7px 0; transition: all 0.3s ease-in; }
aside#mobile-menu nav#links-mobile a:hover { color: #fff !important; text-decoration: none; transition: all 0.15s ease-out; }



/* Media-Queries */
@media only screen and (max-width: 1359px){
    .kuboinz {
        margin: 30px auto 15px;
        float: none;
        padding: 0;
        display: block;
    }
    #parrafo {
        width: 80%;
        padding: 0;
        display: block;
        margin: 0 auto 45px;
        float: none;
        text-align: center;
    }
}

@media only screen and (max-width: 1199px){
    figure#logos-entidades { height: auto; }
    figure#logos-entidades img { width: auto; height: 100px; margin: 22px auto; float: none; }
    figure#logos-entidades img:nth-child(1) { margin: 22px auto; }

    figure#logos-premios { height: auto; }
    figure#logos-premios img { width: auto; height: 100px; margin: 22px auto; float: none; }
    figure#logos-premios img:nth-child(1) { margin: 22px auto; }
    figure#logos-premios img:nth-child(3) { margin: 22px auto 75px; }



    header#header-home nav.navbar a.navbar-brand { transform: scale(0.8); }



    #footer article { width: 80%; height: auto; padding: 90px 0 110px; }
    #footer article a#logo-foo { width: 206px; height: auto; margin: 0 auto 55px; float: none; }
    #footer article nav { margin: 0 auto 55px; float: none; }
    #footer article a#logo-opensky { width: 206px; height: auto; margin: 0 auto; float: none; }
}

@media only screen and (max-width: 1099px){
    .text-division { 
        padding: 10px 30px 170px 30px;
     }    
    .img-usuarios { 
        position: relative;
        margin: 0 auto;
    }
    #row-kuboinz { width: 100% !important; padding: 0 !important; margin: 0 auto !important; }

    aside#mobile-menu { display: block; }
}

@media only screen and (max-width: 999px){
    .img-entidades { max-width: 326px; width: auto; height: 71px; float: none; margin: 0 auto !important; }
}

@media only screen and (max-width: 768px){
    .text-carousel { font-size: 1.35em; padding: 0 15%; line-height: 1.25em; }
    .btn-carousel { transform: scale(0.9); padding: 12px 23px; }
    .btn-carousel:hover { padding: 12px 27px; }

    #division .col-12:nth-child(2) img { max-width: 100%; margin: 35px auto 0 !important; float: none; }
    ul.text-division { padding: 35px 55px 50px; text-align: center; }
    #division .col-12:nth-child(2) #img-usuarios { position: relative; margin: 0 auto !important; float: none; }

    #informacion .container { width: 80% !important; max-width: 80% !important; padding: 0 !important; }
    .zcwf_lblLeft .zcwf_col_fld { padding: 0 !important; }
    .zcwf_lblLeft .zcwf_privacy_txt { width: 90% !important; line-height: 1.1em; }

    figure#logos-entidades img { width: 80%; height: auto; }
    figure#logos-premios img { width: 80%; height: auto; }
}

@media only screen and (max-width: 599px){
    .text-carousel { font-size: 1em; padding: 0 15%; line-height: 1.25em; }
}

@media only screen and (max-width: 499px){
    .img-entidades { max-width: 100%; }
}

/* CSS Thanks-page */

#header {
    background-image: url(./assets/img/kubera-slide-001.jpg);
}

#banner-thanks {
    position: relative;
}

.overlap-image {
        position: absolute;
        top: 0;
        bottom: 0px;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        z-index: 1;
}

#banner-thanks .overlap .container
#banner-thanks .overlap-image .row {
    height: 100%;
}

.kubera {
    padding: 50px 0 120px 0;
}


